* {
    font-family: verdana;
}

pre, .ptr, tt {
    font-family: monospace;
}

a {
    text-decoration: none;
    cursor: pointer;
}

h2 {
    font-size: 16pt;
}

.name {
    white-space: pre;
}

.worn, .worn a {
    color: #c00;
}

.forbid, .forbid a {
    color: #b0b;
}

.prof {
    font-size: 80%;
}

.currency {
    color: #aaa;
}

.comment {
    color: #999;
    font-size: 80%;
}

.ptr, .ptr a { color: #999; font-family: Monospace }
.ptr { font-size: 80%; }

.r {
    text-align: right !important;
    padding-left: 1em !important;
    /*font-family: monospace;*/
    font-size: 90%;
}


.items .owner {
    font-size: 80%;
}

/*
 * autorefresh
 */

div.autorefresh select {
    display: none;
}
div.autorefresh {
    font-size: 8pt;
    color: #ccc;
    position: absolute;
    top: 0; left: 200px;
    width: 20em;
}
div.autorefresh label {
    cursor: pointer;
    user-select: none;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}

/*
 * dwarves
 */

table.dwarves .flags {
    color: #ccc;
    font-family: monospace;
}

.crosshair {
    width: 9px;
    height: 9px;
    opacity: 0.3;
    margin-right: 2px;
    cursor: pointer;
    background-image:url(data:image/gif;base64,R0lGODlhCQAJAIAAAAAAAP///yH5BAAAAAAALAAAAAAJAAkAAAISTIBoZ9D8mosnOTthXfnGbhkFADs=);
    background-repeat: no-repeat;
}

table.dwarves .crosshair {
    position: relative; left: -2px; top: 7px;
    float: left;
}

/*
 * dwarf info page
 */

#dwarf table#skills {
    float: left;
    margin-right: 1.2em;
    margin-bottom: 0.7em;
    font-size: 11pt;
}

#dwarf table#skills tr td tt {
    white-space: pre;
    color: #ccc;
    font-size: 9pt;
}
#dwarf table#skills tr td.skill_level {
    padding-left: 3px;
}
#dwarf table#skills tr.st_misc {
    color: #aaa;
}
#dwarf table#skills tr.st_combat {
    color: #a00;
}
#dwarf table#skills tr.st_labor {
    color: #090;
}

#dwarf .crosshair {
}

#dwarf .happiness {
    color: #ccc;
    font-size: 10pt;
    font-family: monospace;
}

#dwarf .items {
    float: left;
    margin-left: 0.5em;
    margin-right: 1.2em;
    margin-bottom: 0.7em;
    font-size: 11pt;
}

#dwarf .thoughts {
    padding-right: 0.5em;
    text-align: justify;
}
#dwarf .thoughts, #dwarf .thoughts p {
    margin: 0 0 0.7em 0;
    font-size: 11pt;
   /* font-family: monospace; */
}

#dwarf .color-301 { color:#66f } /* cyan, kinda  */
#dwarf .color-101 { color:#00c } /* dark   blue  */
#dwarf .color-601 { color:#966 } /* yellow/brown */
#dwarf .color-400 { color:#900 } /* dark   red   */
#dwarf .color-401 { color:#f00 } /* bright red   */
#dwarf .color-200 { color:#060 } /* dark   green */
#dwarf .color-201 { color:#0a0 } /* bright green */

/* 
 * clothes counts
 */

.clothes-counts .na {
    text-align: center;
    color: #ccc;
}
.cnt-owned {
    display: none;
}
#btn-clothes-toggle {
    float: left;
    margin-top: 2px;
    margin-right: 7px;
    padding: 4px 6px 5px 6px;
}
table.clothes-counts {
    clear: both;
}
h2 .important {
/*    border-bottom: solid 2px #ccc; */
}
.clothes-counts .unusable {
    text-align: center;
    padding-top: 5px;
}
.clothes-counts .shortage {
    color: red !important;
    font-weight: bold !important;
}

h2.cnt-free #max-wear-sel{
    font-size: 8pt;
    color: #ccc;
    text-decoration: none;
    font-weight: normal;
    display: inline;
    margin-left: 1.5em;
    margin-top: 5px;
    position: absolute;
}
h2.cnt-free #max-wear-sel select {
    font-family: monospace;
    color: #aaa;
}

/* 
 * general/sortable table 
 */

table.sortable, table.t1 {
  border: solid 1px #ddd;
  border-collapse: collapse;
  margin-top: 5px; }
  table.sortable td, table.sortable th, table.t1 td, table.t1 th {
    border: solid 1px #ddd;
    padding: 1px 5px;
    /*font-family: Monospace;*/ }
  table.sortable th, table.t1 th {
    font-family: Monospace;
    cursor: pointer;
    text-align: center;
    font-weight: bold; }
  table.sortable td.tools, table.t1 td.tools {
    padding: 0; margin: 0;
    padding-left: 2px; padding-top: 3px;
    border-right: none;
    border-top: none;
    border-bottom: none;
    vertical-align: top; }
  table.sortable td hr, table.t1 td hr {
    height: 1px;
    border: 0;
    color: red;
    background-color: #eeeeee; }

/* 
 * items
 */

#items .counts-by-type {
    float: left;
    margin-right: 2em;
}

/*
 * item info
 */

#item td.fullname, #item td.basename { text-align: center }
#item table.t1 th { min-width: 10em }
#item table.t1 td { min-width: 10em }

/*
 * trade
 */

#ltree, #rtree {
    width: 49%;
    float: left;
    user-select: none;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}
#ltree input, #rtree input {
    cursor: pointer;
}
#ltree th.th-item-name, #rtree th.th-item-name {
    min-width: 25em;
}
#ltree tbody th, #rtree tbody th {
    text-align: left;
    font-weight: bold;
    font-size: 10pt;
}
#ltree tbody.cat_items, #rtree tbody.cat_items {
    display: none; /* collapse all categories by default */
    font-size: 10pt;
}

#trade .category-name {
    border-left: none;
    padding-left: 0;
}
#trade .tristate {
    border-right: none;
}

#trade tbody.cat_items td.info {
    border-right: none;
    padding: 0;
}

#trade tbody.cat_items td.info + td {
    border-left: none;
    padding-left: 0;
}

#trade table {
    border: none;
}

#trade table td.info a {
    visibility: hidden;
}

#trade table tr:hover td.info a {
    visibility: visible;
    margin-left: 4px;
    margin-top: 2px;
}

#trade table a.info {
    display: block;
    width: 16px; height: 16px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAEZSURBVBgZdcHNKkQBAIbhd8w4TIpiJPkZLLAiM4oFa1FGopkcJ878fWXhBti4BStbd2CW9kq5Azs7CxsrJalP4fhJnodPXSxSIWaHJbr5I0eEEEKIfYb5Jcsumty9DO/jq2h+BxHTww8FNN94kmVZL1prIJb5FmyiC3ndg8663ys3Sqk9JEWibw9dbznDO7fdrWbUVSdNYi5G1QW+aDql8cZpG4mTPZStEPAh01FCBzWnSTxsTAmxzQS9jFJC6CxyioRnbpWvI0QTIYSCBkMkHLj8qONooByEufJheK5OIaoMkXCPK5b12rQs60KdQlQZIeHAsy654g0XPelaS1nRpMBv5oPHXGvpqP48yn+cd81NF/if8y4aeAOoY2hpbHPEUAAAAABJRU5ErkJggg==);
}

/*
 * tri-state checkboxes
 */

.tristate { /* unchecked state */
    cursor: pointer;
    min-height: 16px;
    width: 16px;
    padding: 0; margin: 0;
    background-image: url(data:image/gif;base64,R0lGODdhDgAOAMQAABxShLzGzNzm7PT29Ozq5NTW1Ozy9Nze3Pz+/OTe3OTm3Pz69PTu7CRahOzu9PTy7OTi3OTq7CRWhMzS1PT2/Ozu7NTa3Nzi5OTm5Pz6/PTy9OTi5AAAAAAAAAAAAAAAACwAAAAADgAOAAAFcyAgjuQoAUExTUVrHRdmiQVkQxtRVc9CiJPE4QDBEAgMwwADhCQ2xp1Bs4gAFcWj4aEZVGmY3I5LzVRox3HXi3CILDqeppvJIAyiQyX5GGQWdQgaIhcPXANedgh3IhgLXoCLkgNvERgREVIGmwIAJyWgDSEAOw==);
    background-repeat: no-repeat;
    background-position: center;
}

.tristate:hover {
    background-image: url(data:image/gif;base64,R0lGODdhDgAOALMAABxShOyqNNze3PTy7Ozq5Pz6/OTm5CRahOTi3PT29CRWhOzGJPTy9Ozu7Pz+/OTi5CwAAAAADgAOAAAERhDISacCIeudZVhgKAbeIiCIQRDNsJDYgqpN68JfutrJW6qsQWJwK62IwkLBFwsmhkrmB/lUOqQL5EAZxYm+Uo4YcKmYDxEAOw==);
}

.checked {
    background-image: url(data:image/gif;base64,R0lGODdhDgAOANUAABxShDSqNKzarNze3Ozy9PTq7OTq7Gy+bMTOzASSBPz69Pzy/Ozq5MzizCSiJFS2VOzm5Nzm7IzKjOzu9ESuRLTitPTy7NTW1Ozu5DSmNCRahDyuPLTetPzu9ByiHPz+/Pz29NTi1CyiLOTm3JTSlPT2/NTa5CRWhKzerNzi5PTu7OTu5HzCfASWBPz6/Ozq7GS6ZJTOlPT29NTa3Ozu7DyuRPz2/NTm1CymLOTm5AAAAAAAAAAAAAAAAAAAAAAAACwAAAAADgAOAAAGikCAcEgcngCI2eUymw0GqVzOJJxBRhAGBmMBfRQG4eU6yjFotgbs8xKPOgUGw9UQUT5hwEXFCi3oGwkbHxNVCxkUBiGBGRwfNEIDNhQJBw8JjR8fBJE2MSItghUfLoSRFh8kHg6OpR8WQhEyqBICpJqbQgYKIAq4vzJVDAYGNDQExwQEEQBHRc8aQQA7);
}

.checked:hover {
    background-image: url(data:image/gif;base64,R0lGODdhDgAOANUAABxShDSqNOyqNKzarOTm3Pz6/Gy+bASSBPTq7MzizCSiJFS2VOTu5IzKjESuRLTitPTy7DSmNCRahDyuPLTetOzq5ByiHNTi1CyiLOzu5JTSlCRWhOzGJKzerOTm5Pz+/HzCfASWBPzu9GS6ZJTOlPzy/DyuRNTm1CymLOzu7AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACwAAAAADgAOAAAGYUCAcEgcbgCCpHKZFAo40KhU4OQQCJVsITHiUJEcBKKS2WIc3iroItpODujvM+KoXByHSCcNxhsWeRQffE8kGCEhEQ8fBYQcHyQWCoKMjhAfDQOMBY1yUp+ETKIAR0WmEkEAOw==);
}

.intermediate {
    background-image: url(data:image/gif;base64,R0lGODdhDgAOANUAABxShGS6ZMTOzOTq7IzGhPT2/ITChHS+bPTq7KTWpGzCbNze3Gy6ZIzOjOzy9Pz+/Ozq5Pz29NTW1JzKnPTy9Nzm7Gy+ZOzu9Pz69CRahGS+ZIzKjHTCdJTOlOzu7NTa5CRWhIzGjHS+dPTu7KzerNzi5Gy6bOzq7Pz2/NTa3Pzy9OTm5Gy+bPz6/GS+bJTSlAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACwAAAAADgAOAAAGjUCAcEgcggCChUSSSi0WpdXqI0xBIIgRRaVCtTAeoeQ0MRA2oc0m0TqJEYaAxWRiaRqPgXhECIgUBxwsHQ8XVRQhDIEcHAeEYQALKiEsjIwKhA5CCxEblZYKLw+QCygbASwsChwahBRCKy0JDR0vth0kD5oAAxgtD8DBwAVVEAMDHh4Oyg4OFQBHRdIZQQA7);
}

.intermediate:hover {
    background-image: url(data:image/gif;base64,R0lGODdhDgAOAMQAABxShGS6ZOyqNIzGhITChHS+bGzCbJTSlGy6ZJzKnIzOjGy+ZCRahGS+ZOzGJIzKjHTCdCRWhIzGjHS+dKTWpGy6bJTOlGy+bGS+bKzerAAAAAAAAAAAAAAAAAAAAAAAACwAAAAADgAOAAAFVSAgjuQYAUKqrqkoOHAsC66TEMQjPQ/l0CgHIYBYFBuDX22AuEAKkIVFGWRCrtEp8DVYQK+GA/X1WGCf2uViXTBIxw7KwGI5WBQZuGy/ZfkBJyWCDCEAOw==);
}

